*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body{
    background-color: #f3e6dc;
    background-image: url('https://res.cloudinary.com/mikakallberg/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1656959952/dirt_sun_tndbjc.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

html, body{
    height: 100%;
}

h1, h2, h3, h4, h5{
    font-family: 'Playfair Display', serif;
    color: #2b1b08;
}

p{
    font-family: 'Gentium Book Plus', sans-serif;
}

p input{
    border: 1px solid #2b1b08;
    border-radius: 4px;
    margin-left: 6px;
}

a{
    text-decoration: none;
    color: inherit;
}

/* base.html */

.brand {
    font-size: 1.4rem;
    font-weight: 700;
}

.card{
    border: none;
    background-color: #d3ded3;
}

/*credit to  https://djangocentral.com/building-a-blog-application-with-django/  for sidebar widget */
.sidebar{
    clear: right;
}

.nav-css-settings, .footer-css-settings{
    background-color: #e3e1dd;
    font-family: 'Playfair Display', serif;
    color: #2b1b08;
}

.social{
    text-align: center;
    margin: 1rem;
}

.social-links a i{
    height: 26px;
    width: 26px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 3px;
    text-align: center;
    color: #fbfcfb;
}

.social-link-facebook{
    background: #3b5998;
}

.social-link-twitter{
    background: #1DA1F2;
}

.social-link-instagram{
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.social-link-youtube{
    background: #c4302b;
}

/* Hover effect on links*/
.social-link-facebook:hover {
    opacity: 0.4;
}

.social-link-twitter:hover {
    opacity: 0.4;
}
.social-link-instagram:hover {
    opacity: 0.4;
}

.social-link-youtube:hover {
    opacity: 0.4;
}


/* LogIn.html */

.container-css{
    border: 1px solid white;
    background-color: #fbfcfb;
    opacity: 0.7;
    padding-bottom: 5vh;
}

.login-input input{
    display: inline;
}

/* LogIn.html */

.signup-input input{
    width: 80%;
    display: block;
}

/* Credit to Matt Rudge at Code Institutem See README for links and more information*/

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 0;
    min-width: 30%;
    left: -2px;
    background-color: transparent;
}

.author {
    color: white;
    margin: 4px;
    text-transform: capitalize;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #e3e1dd;
    color: #3d263d;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

/*.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #e3e1dd;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}*/

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: #3d263d;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}