*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body{
    background-color: #f3e6dc;
    background-image: url('https://res.cloudinary.com/mikakallberg/image/upload/v1657838702/backgr_img_rzwlnc.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

html, body{
    height: 100%;
}

h1, h2, h3, h4, h5{
    font-family: 'Playfair Display', serif;
    color: #2b1b08;
}

p{
    font-family: 'Gentium Book Plus', sans-serif;
    color: #2b1b08;
}

p input{
    border: 1px solid #2b1b08;
    border-radius: 4px;
    margin-left: 6px;
}

a{
    text-decoration: none;
    color: inherit;
}

.btn-signup {
    background-color: #8ba78b;
    color: #fbfcfb;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fbfcfb;
    color: #8ba78b;
}

.btn-like {
    color: #bd4242;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #bd4242;
    background: transparent;
    border: none;
}

.container-css{
    border: 1px solid white;
    background-color: #fbfcfb;
    opacity: 0.7;
    padding-bottom: 5vh;
}

/* base.html */

.brand {
    font-size: 1.4rem;
    font-weight: 700;
}

.content-clr{
    background-color: #b6c8b6;
}

.card{
    border: none;
    background-color: #d3ded3;
}

.next, 
.previous{
    color: #8ba78b;
    position: relative;
    display: block;
    padding: 1vh;
    margin-top: 3vh;
    text-decoration: none;
    background-color: #fbfcfb;
    border: 2px solid #a8bda8;
}

.next:hover, 
.previous:active{
    color: #fbfcfb;
    text-decoration: none;
    background-color: #a8bda8;
    border: 2px solid #a8bda8;
}

/*credit to  https://djangocentral.com/building-a-blog-application-with-django/  for sidebar widget */
.sidebar{
    clear: right;
}

.nav-css-settings, .footer-css-settings{
    background-color: #e3e1dd;
    font-family: 'Playfair Display', serif;
    color: #2b1b08;
}

.social{
    text-align: center;
    margin: 1rem;
}

.social-links a i{
    height: 26px;
    width: 26px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 3px;
    text-align: center;
    color: #fbfcfb;
}

.social-link-facebook{
    background: #3b5998;
}

.social-link-twitter{
    background: #1DA1F2;
}

.social-link-instagram{
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.social-link-youtube{
    background: #c4302b;
}

/* Hover effect on links*/
.social-link-facebook:hover {
    opacity: 0.4;
}

.social-link-twitter:hover {
    opacity: 0.4;
}
.social-link-instagram:hover {
    opacity: 0.4;
}

.social-link-youtube:hover {
    opacity: 0.4;
}

/* login.html, signup.html, logout.html */

.login-input input{
    display: inline;
}

.link {
    color: #8ba78b;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.signup-input input{
    width: 80%;
    display: block;
}

.btn-home{
    border: 1px solid #debba0;;
    background-color: #e5c9b3;
    color: #445261;
}

/* Credit to Matt Rudge at Code Institutem See README for links and more information*/

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 0;
    min-width: 30%;
    left: -2px;
    background-color: transparent;
}

.author {
    color: white;
    margin: 4px;
    text-transform: capitalize;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 100%;
}

.masthead-text {
    background-color: #e3e1dd;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.post-link {
    text-decoration: none;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
}

/* Media Query*/
@media screen and (min-width: 550px){
    .social-links a i{
        height: 40px;
        width: 40px;
        font-size: 22px;
        line-height: 14px;
    }
}
