{% extends 'base.html' %}
{% block content %}
<div>
    <div class="container container-css">
        <div class="row">
            <div class="col">
                <h2>About The Green Thumb</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="container container-css">
        <div class="row">
            <div class="col">
                <img src="https://res.cloudinary.com/mikakallberg/image/upload/v1657806223/about_pic_ijcyys.jpg"
                    alt="Woman with brown hair, with the sunbehind her">
            </div>
        </div>
    </div>
    <div class="container container-css">
        <div class="row">
            <div class="col">
                <p>
                    Welcome to my little blog that I call the Green Thumb.
                </p>
                <p>
                    Hi my name is Tessa and I'm on a journey to develop that illustrious green thumb.
                    I am an obsessed plant mama by life, who is currently working towards a Bachelor in Biology.
                </p>
                <p>
                    Having a green thumb alludes to being good with plants.
                    Now I'm not an expert right now and when I started I couldn't even keep a cactus alive.
                    But through trial, error and a lot of kind plants who have managed to grow despite me
                    putting them through massive amounts of stress, I actually learned a few things.
                </p>
                <p>
                    Like how plants don't like their roots soaking in water, or that one should rotate what you plant in
                    your garden.
                    So that you add nutrients to your soil, not just take it away.
                </p>
                <p>
                    I'm so happy you are here on this journey with me. Please register and join the conversation.
                    I would love to hear from you.
                </p>
                <p>
                    <i class="fa-solid fa-heart"></i> Know that you matter <i class="fa-solid fa-heart"></i>
                </p>
                <p>
                    <i class="fa-solid fa-heart"></i> Know that you are loved <i class="fa-solid fa-heart"></i>
                </p>
                <p>
                    <i class="fa-solid fa-heart"></i> Know that I appreciate you <i class="fa-solid fa-heart"></i>
                </p>
                <p>
                    <i class="fa-solid fa-heart"></i> And my day is better because of you! <i
                        class="fa-solid fa-heart"></i>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}