{% block sidebar %}

<!-- Sidebar Widgets Column -->
<!--credit to https://djangocentral.com/building-a-blog-application-with-django/ -->
<div class="col-md-4 float-right d-none d-md-block">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text">
            Welcome to my little blog that I call the Green Thumb.
        </p>
        <p class="card-text">
            Hi my name is Tessa and I'm on a journey to develop that illustrious green thumb. 
            I'm so happy you are here on this journey with me. Please register and join the conversation.
            I would love to hear from you.
        </p>
        <p class="card-text">
            <i class="fa-solid fa-heart"></i> Know that you matter <i class="fa-solid fa-heart"></i>
        </p>
        <p class="card-text">
            <i class="fa-solid fa-heart"></i> Know that you are loved <i class="fa-solid fa-heart"></i>
        </p>
    </div>
</div>
</div>

{% endblock sidebar %}